<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rootWorkingPath</key>
	<string>/Users/evan/Documents/WorkingDir/MyApp</string>
	<key>signIdentity</key>
	<string>iPhone Distribution: UBTECH ROBOTICS CORP (AABBCCDDEE)</string>
	<key>entitlementsPlistFilePath</key>
	<string>/Users/evan/Documents/WorkingDir/MyApp.entitlements</string>
	<key>mobileprovisionFilePath</key>
	<string>/Users/evan/Documents/WorkingDir/Resignature_App_Test_For_AppStore.mobileprovision</string>
	<key>newBundleID</key>
	<string>com.your-company.test</string>
	<key>newNameForIPA</key>
	<string>YourApp</string>
</dict>
</plist>
