<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootWorkingDirectory</key>
	<string>/Users/test/Desktop/ResignWorkingDir/Test</string>
	<key>MobileprovisionPath</key>
	<string>/Users/test/Desktop/ResignWorkingDir/inhouse.mobileprovision</string>
	<key>SignIdentity</key>
	<string>iPhone Distribution: YOUR_COMPANY</string>
	<key>NewNameForIPA</key>
	<string></string>
	<key>AppleID</key>
	<string></string>
	<key>AppleIDPassword</key>
	<string></string>
</dict>
</plist>
